<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    
    <style>
        button{
            color: white;
            background-color: limegreen;
            height: 38px;
            width: auto;
            border-radius: 3px;
            position: static;
            right: 9%;
        }
       
        span.op{
            display: inline-block;
            padding: 30px;
            height: auto;
        }
        
        #name{
            width: 40%;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center; margin: 30px;">Select a user from the list below to tansfer amount</h2>
    <div>
        <span class="t" style="width: 30%;">NAME</span>
        <span class="t" style="width: 22%;">BALANCE</span>
    </div>
    <span class="op" id="name">name</span>
    <span class="op" id="amount">AMOUNT</span>
    <button onclick="">SELECT</button>
</body>
</html>