<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRIPFEB21</title>
    <style>
    body{
        background-image: linear-gradient(45deg, #20E2D7 0%, #F9FEA5 100%);
        }
    img { 
           background-image: none;
           float:right;
           width: 35%;
        }
    .button
    {
      background-image: none;
      padding: 20px;
      color:black;
      margin-inline: 5px;
      font-size: medium;
      font-weight: bold;
      align-self: center;
    }

    </style>
</head>
<body>
    <h1>{% for ab in posts %}
    {{ ab.title }}
    {% endfor %}</h1>
    <img src="home.svg">
    <button class="button" onclick="">Make Transaction</button>
    <button class="button" onclick="">View Transaction</button>
</body>
</html>